/* Top Nav CSS */
.top-nav{
  padding-top:10px;
  padding-bottom: 10px
}
.nav_cell{
  float: right;
  padding: 3px;
}
/* Swiper syles CSS */
.swiper-slide-style {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.paginatebutton{
  text-decoration: none;
  display:inline-block;
  padding:8px 16px;
}
.paginatebutton:hover{
  background-color: #D3D3D3;
  color:black;
}
.previous{
  background-color: #f1f1f1;
  color:black;
}
.next{
  background-color: #4CAF50;
  color:white;
}
.swiper_arrow_container {
  position: absolute;
  bottom: 0;
  z-index: 2;
  right: 0;
}
.swiper_arrow_box {
  height: 60px;
  width:60px;
  background-color: #fff;
  padding:1rem;
  float:left;
  margin-right: 1px;
}
/* FORM */
.form_box {
  background-color: #fff;
  padding: 2rem;
  height: 100%;
}
/* Border for Div Container */
.serviceCon1{
  border: 1px solid #000000;
  margin-bottom: 17px;
  margin-right: auto;
  margin-left: auto;
  height: auto;
  padding:15px;
}
/*To change the slider height within HTML*/
.height_100 {
  height: 100%;
}
/* Case Study CSS */
.case-study{
  background-color:#D3D3D3;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  width:100%;
  height: auto;
}
.grid-padding-x-service{
  border:0.5px solid #021a40;
}

.service-sec{
  border:1px solid #021a40;
}

.services{
  text-align: center;
}

.team{
  text-align: center;
}

footer{
  background-color:#D3D3D3;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  width:100%;
  height: auto;
}

.team-grid{
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px
  padding:40px;
}
.button{
  border:2px solid #D3D3D3;
  background-color: white;
  padding:13px 13px;
  cursor: pointer;
  width: 120px;
  text-color:#D3D3D3;

}
.our-service-section{
  border:1px solid:#D3D3D3;
}

/*Off Canvas Styling*/
.offCanvasNav{
  width:200px;
}

.position-left-reveal-for-medium ~ .offCanvasNav-content{
  margin-left: 200px;
}

/* PADDING */
.padding_1 {
  padding:1rem;
}
.padding_2 {
  padding:2rem;
}
.padding_3 {
  padding:3rem;
}
.padding_4{
  padding:4rem;
}

.t_padding_1 {
  padding-top:1rem
}
.t_padding_2 {
  padding-top:2rem
}
.t_padding_3 {
  padding-top:3rem
}
/* MARGIN */
.margin_1 {
  margin:1rem;
}
.margin_2 {
  margin:2rem;
}
.margin_3 {
  margin:3rem;
}
.t_margin_1 {
  margin-top:1rem
}
.t_margin_2 {
  margin-top:2rem
}
.t_margin_3 {
  margin-top:3rem
}

/* BORDER */
.border_1 {
  border: 1px solid #000;
}
@media (max width:639px) {
  .position-left.reveal-for-medium ~ .offCanvasNav-content{
    margin-left: 0px;
  }
}

/*Styling for the pagination*/
.swiper-img{
  width:100%;
  z-index:0;
}
.paginate-button{
  color: #ffffff;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}
.pagination a:hover:not(.active) {background-color: #ddd;}

/*Swiper Styling */
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-height {
  height: 80vh;
}
.overlay-slider .copy-container{
    position: absolute;
    top: 40% !important;
    left: 30%;
    z-index: 99;
}

.rel_pos {
  position: relative;
  width:100%;
  height: 100%;
}
.ab_swiper {
  position: absolute;
  z-index: 1;
  top:0;
  width:100%;
  height: 100%;
}
.ab_form {
  position: absolute;
  z-index: 2;
  top:0;
  width:100%;
}
/*Over lay Button for Team icon*/
.image {
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #808080;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
